@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'TT Lakes Neue';
    src: url('/src/fonts/TTLakesNeue/TTLakesNeue-Regular.eot');
    src: local('TT Lakes Neue'), local('TTLakesNeue-Regular'),
        url('src/fonts/TTLakesNeue/TTLakesNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/TTLakesNeue/TTLakesNeue-Regular.woff2') format('woff2'),
        url('/src/fonts/TTLakesNeue/TTLakesNeue-Regular.woff') format('woff'),
        url('/src/fonts/TTLakesNeue/TTLakesNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue';
    src: url('/src/fonts/TTLakesNeue/TTLakesNeue-Bold.eot');
    src: local('TT Lakes Neue Bold'), local('TTLakesNeue-Bold'),
        url('/src/fonts/TTLakesNeue/TTLakesNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/TTLakesNeue/TTLakesNeue-Bold.woff2') format('woff2'),
        url('/src/fonts/TTLakesNeue/TTLakesNeue-Bold.woff') format('woff'),
        url('/src/fonts/TTLakesNeue/TTLakesNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DinPro';
    src: url('/src/fonts/dinpro/dinpro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinPro';
    src: url('/src/fonts/dinpro/dinpro_medium.otf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'DinPro';
    src: url('/src/fonts/dinpro/dinpro_bold.otf');
    font-weight: bold;
    font-style: normal;
}